* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    list-style: none;
    line-height: 1;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.woff);
    font-style: normal;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.body {
    position: relative;
}

.popup-container {
    width: 371px;
    position: relative;
    background-color: #FFFFFF;
    padding: 50px 30px;

}

.popup-container::before {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 320px;
    margin-top: -75px;
    content: "";
    background-image: url(../svg/form-x.svg);
    background-size: cover;
}

.popup-title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
    margin-bottom: ;
}

.popup-title::after {
    display: block;
    content: "";
    width: 66px;
    height: 3px;
    opacity: 0.4;
    background-color: #b59f5b;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
}

.popup-form, {
    width: 100%;
}

.popup-button {
    width: 100%;
    padding: 19px 81px 15px 83px;
    border: none;
    background-color: #b59f5b;
}

.select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 10px;
    box-sizing: border-box;
    width: 310px;
    height: 45px;
    padding-left: 20px;
    margin: 0;
    border: 1px solid #cbd1d4;
    background-color: #f4f7f6;
    font-family: 'OpenSans-Regular';
    font-size: 1em;
    color: #333333;
    margin-bottom: 30px;
}

.form-hint, select > option {
    display: block;
    background-color: none;
    font-family: OpenSans-Regular;
    font-size: 0.93em;
    font-weight: 400;
    color: #0f0d0e;
    margin-bottom: 10px;
}

.form-radio {
    margin-bottom: 30px;
}


.radio-group-text::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
}

.radio-group-text {
    font-family: OpenSans-Regular;
    font-size: 0.93em;
    font-weight: 400;
    color: #0f0d0e;
    margin-bottom: 10px;
}


.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}


.textarea {
    width: 100%;
    height: 128px;
    margin-bottom: 20px;
    padding: 15px 15px;
    background-color: #f4f7f6;
}

.header {
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: right 35% bottom 75%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.6;
    width: 100%;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
}

.menu-list-item {
    z-index: 1;
    padding: 12px 0px 0px 35px;
}

.menu {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.burger-logo {
    width: 30px;
    fill: #ffffff;
}

.burger-menu {
    padding-right: 35px;
    display: none;
}

.logo {
    min-width: 179px;
    z-index: 1;
}
.menu-list {
    display: flex;
    min-width: 462px;
}
.menu-link {
    font-family: OpenSans-Regular;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color: #b59f5b;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0px auto;
    padding: 29px 0px 130px 0px;
}

.title-container {
    max-width: 699px;
    z-index: 1;
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: OpenSans-Bold;
    font-size: 2.82em;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.section-trends {
    padding-top: 59px;
}

.trends-title {
    text-align: center;
}
.trends-title > a {
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 0px;
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.trends-title::after {
    display: block;
    content: "";
    width: 66px;
    height: 3px;
    opacity: 0.4;
    background-color: #b59f5b;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
}

.trends-container {
    display: flex;
    width: 100%;
}

.trends-item {
    box-sizing: border-box;
    display: flex;
    flex-flow: column-reverse;
    position: relative;
    width: 25%;
    height: 320px;
    padding: 0 20px 20px 16px;
    flex-shrink: 0;
    z-index: 0;
}

.trends-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
}

.trends-item:nth-child(1) {
    background-image: url(../images/trend1.jpg);
    background-color: #808080;
    background-size: cover;
    margin-right: 4px;
}

.trends-item:nth-child(2) {
    background-image: url(../images/trend2.jpg);
    background-color: #808080;
    background-size: cover;
    margin-right: 4px;
}

.trends-item:nth-child(3) {
    background-image: url(../images/trend3.jpg);
    background-color: #808080;
    background-size: cover;
    margin-right: 4px;
}

.trends-item:nth-child(4) {
    background-image: url(../images/trend4.jpg);
    background-color: #808080;
    background-size: cover;
}

.trends-content {
    padding: 41px 0px 35px 36px;
    border: 3px solid #b59f5b;
    z-index: 2;
}

.trends-content-text {
    font-family: OpenSans-Bold;
    font-size: 1.25em;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    padding: 60px 0px 64px 0px;
    margin: 0px auto;
}

.main {
    margin-right: 122px;
    flex-grow: 1;
}

.news-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.news-container:last-child {
    margin-bottom: 0px;
}

.section-box-title {
    display: block;
    margin-bottom: 25px;
}

.section-box-title:after {
    display: block;
    content: "";
    width: 66px;
    height: 3px;
    opacity: 0.4;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
}

.section-title-item {
    text-align: center;
    margin-bottom: 10px;
}

.aside {
    width: 271px;
}

.aside-title-link:focus,
.aside-title-link:hover {
    color: #b59f5b;
}

.section-box {
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
}

.section-container {
    display: flex;
    margin-bottom: 22px;
}

.section-container:last-child {
    margin-bottom: 0px;
}

.section-img {
    display: flex;
    flex-direction: column;
}

.section-image-item {
    display: flex;
    flex-direction: column;
    margin: 0px 17px 0px 0px;
}

.section-image-item:nth-child(5) {
    margin-bottom: 0px;
}

.section-image-icon {
    width: 70px;
}

.section-text {
    display: flex;
    flex-direction: column;
}

.section-text-item {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-bottom: 21px;
}

.section-text-item:last-child {
    margin-bottom: 0px;
}

.section-date {
    margin-bottom: 3px;
}

.section-title-link:link,
.section-title-link:visited {
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 14px;
    line-height: 1.24;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.section-title-link:focus,
.section-title-link:hover {
    color: #b59f5b;
}

.text-container {
    width: 366px;
}

.img-container {
    width: 381px;
    margin-right: 0px;
}

.block-img {
    width: 100%;
}

.subtitle-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.link-item {
    font-family: OpenSans-Bold;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
    margin-right: 19px;
}

.link-item:hover,
.link-item:focus {
    color: #0f0d0e;
}

.caption-link:link,
.caption-link:visited {
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 0px;
}

.caption-link:hover,
.caption-link:focus,
.link-items:focus,
.link-items:hover {
    color: #b59f5b;
}

.caption {
    margin: 0px;
    margin-bottom: 30px;
}

.text-date-author {
    margin-bottom: 49px;
}
.text-date {
    margin: 0px;
    font-family: OpenSans-Regular;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-right: 14px;
}

.text-author {
    margin: 0px;
    font-family: OpenSans-Bold;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}

.text-content {
    margin: 0px;
    font-family: OpenSans-Regular;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #0f0d0e;
}

.search-form {
    display: flex;
    margin-bottom: 61px;
}

.search-item {
    box-sizing: border-box;
    width: calc(100% - 40px);
    height: 49px;
    background-color: #f4f7f6;
    opacity: 0.54;
    font-family: OpenSans-Bold;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    border: none;
    padding: 18px 0px 20px 18px;
}

.button {
    width: 48px;
    height: 48px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    border: none;
    background-color: #b59f5b;
}

.button:hover {
    background-color: #000000;
}

.sidebar-title {
    margin-bottom: 20px;
}

.sidebar-title-item {
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 0px 0px 14px 0px;
    text-align: center;
}

.sidebar-title:after {
    display: block;
    content: "";
    width: 66px;
    height: 3px;
    opacity: 0.4;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
}

.email-form {
    margin-bottom: 57px;
}

.email-item {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 271px;
    background-color: #f4f7f6;
    opacity: 0.54;
    font-family: OpenSans-Bold;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    border: none;
    padding: 17px 0px 17px 18px;
    margin-bottom: 15px;
}

.subscribe-button {
    width: 100%;
    padding: 19px 81px 15px 83px;
    border: none;
    background-color: #b59f5b;
}

.subscribe-button:hover {
    background-color: #000000;
}

.subscribe-button-text {
    font-family: OpenSans-Bold;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.sidebar-tags {
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.tags-item {
    padding: 5px 13px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    margin-right: 5px;
    margin-bottom: 5px;
}

.items-theme {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
}

.tags-item-link {
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.tags-item-link:hover,
.tags-item-link:focus {
    color: #b59f5b;
}

.items-theme-link:link,
.items-theme-link:visited {
    margin-right: 10px;
    text-decoration: none;
    font-family: OpenSans-Bold;
    font-size: 14.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.28;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.items-theme-link:hover,
.items-theme-link:focus {
    color: #b59f5b;
}

.items-theme-quantity {
    content: "12";
    font-family: OpenSans-Bold;
    font-size: 12.5px;
    font-weight: bold;
    text-align: left;
    color: #b59f5b;
}

.items-theme-line {
    width: 271px;
    height: 1px;
    background-color: #eeeeee;
}

.section-product {
    max-width: 1170px;
    padding-bottom: 64px;
    margin: 0 auto;
}

.product-content {
    width: 300px;
    flex-grow: 1;
    outline: #b59f5b solid 3px;
    outline-offset: 25px;
}

.product-container {
    display: flex;
    width: 100%;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-items: center;
}

.product-image {
    width: 300px;
    margin-bottom: 21px;
}

.product-content-title {
    margin-bottom: 8px;
}

.product-content-text {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #0f0d0e;
}

.content-text-color {
    text-decoration: none;
    color: #b59f5b;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.price-wrap {
    display: flex;
    flex-direction: column;
}

.price-1 {
    text-decoration: line-through;
    font-family: OpenSans-Bold;
    font-size: 0.91em;
    font-weight: 700;
    color: #0f0d0e;
}

.price-2 {
    margin-top: 22px;
    font-family: OpenSans-Bold;
    font-size: 1.21em;
    font-weight: 700;
    color: #0f0d0e;
}

.price-3 {
    font-family: OpenSans-Bold;
    font-size: 1.21em;
    font-weight: 700;
    color: #0f0d0e;
}

.button-market-price::after {
    display: block;
    content: "3000R";
    font-family: OpenSans-Bold;
    font-size: 0.93em;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.button-market > a {
    text-decoration: none;
    padding: 17px 25px 17px 25px;
    width: 142px;
    background-color: #b59f5b;
    font-family: OpenSans-Bold;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.footer-container {
    display: flex;
    width: 1170px;
    height: 83px;
    background-color: #f4f7f6;
    align-items: center;
    margin: 0px auto 60px auto;
}

.socials {
    display: flex;
    margin: 0 auto;
}

.socials-item {
    display: flex;
    margin-right: 23px;
}

.socials-item:nth-child(5) {
    margin: 0px;
}

.socials-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.socials_link_twitter {
    background-image: url(../svg/004-twitter.svg);
}

.socials_link_pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.socials_link_facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.socials_link_instagram {
    background-image: url(../svg/005-instagram.svg);
}

.socials_link_trumblr {
    background-image: url(../svg/003-trumblr.svg);
}

.hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.foter-text-item {
    font-family: OpenSans-Regular;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 40px;
    font-weight: 700;
    color: #999999;
}

@media (min-width: 641px) and (max-width: 1200px) {

    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    .menu {
        padding: 0px 35px 0px 35px;
        z-index: 1;
    }

    .header-container {
        width: 100%;
        padding: 29px 0px 124px 0px;
    }

    .title-container {
        margin: 103px auto 0px auto;
    }
    .title {
        font-size: 2.5em;
    }
    .menu-list {
        display: none;
    }
    .burger-menu {
        display: initial;
        padding-right: 35px;
    }
    .trends-container {
        flex-wrap: wrap;
    }

    .trends-item {
        box-sizing: border-box;
        width: 49.5%;
    }

    .trends-item:nth-child(2) {
        margin:  0px;
    }

    .trends-item:nth-child(1),
    .trends-item:nth-child(2) {
        margin-bottom: 4px;
    }

    .page {
        padding: 50px 34px 70px 34px;
    }

    .main {
        margin-right: 35px;
        box-sizing: border-box;
    }

    .aside {
        width: 271px;
    }

    .section-text-item {
        flex-grow: 1;
    }

    .news-container {
        display: block;
        margin-bottom: 41px;
    }
    .img-container {
        width: 100%;
        margin: 0px 0px 15px;
    }

    .text-container {
        width: 100%;
        padding-bottom: 18px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: #eeeeee
    }
    .product-container {
        flex-wrap: wrap;
    }

    .product-item{
        width: 50%;
        margin: 0;
    }
    .product-item:nth-child(3) {
        padding-top: 55px;
    }

    .footer-container {
        width: 100%;
        max-width: 698px;
        margin: 0px auto 49px auto;
    }
}


@media (max-width: 741px) and (min-width: 641px) {

    .product-content {
        width: 250px;
    }
}

@media (max-width: 640px) {

    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .header-container {
        width: 100%;
        height: 639px;
        align-items: center;
    }

    .burger-menu {
        display: initial;
        padding-right: 15px;
        text-align: right;
        margin-bottom: 182px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .logo {
        width: 269px;
        order: 2;
        margin: 0 auto 43px auto;
    }

    .title-container {
        margin: 0 auto;
    }
    .title {
        font-size: 1.6em;
        line-height: 36px;
    }
    .menu-list {
        display: none;
    }

    .trends-container {
        display: block;
    }

    .trends-item {
        width: 100%;
    }

    .trends-item:nth-child(2),
    .trends-item:nth-child(3) {
        margin: 4px 0px;
    }

    .page {
        display: block;
        width: 100%;
        padding: 50px 15px 70px 15px;
    }
    .aside {
        padding-top: 44px;
        width: 100%;
    }

    .search-item {
        width: 100%;
    }

    .email-item {
        width: 100%;
    }

    .subscribe-button {
        width: 100%;
    }

    .main {
        margin: 0px;
        box-sizing: border-box;
    }

    .img-container {
        width: 100%;
    }

    .block-img {
        width: 100%;
    }

    .text-container {
        width: 100%;
    }

    .news-container {
        display: block;
        margin-bottom: 41px;
    }

    .section-product {
        padding: 0px 15px 0px 15px;
    }

    .section-text-item {
        flex-grow: 1;
    }

    .img-container {
        margin: 0px 0px 15px;
    }
    .text-container {
        padding-bottom: 18px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: #eeeeee
    }
    .product-container {
        display: block;
    }

    .product-image img{
        padding: 0px 15px;
        width: 100%;
        margin-bottom: 21px;
    }
    .product-content {
        padding: 0px 15px;
        width: 100%;
        outline-offset: 12px;
    }
    .product-item {
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }
    .product-item:nth-child(1)::after {
        margin-top: -280px;
        width: 100%;
        height: 230px;
        z-index: 1;
    }
    .product-item:nth-child(2)::after {
        margin-top: -320px;
        width: 100%;
        height: 263px;
        z-index: 1;
    }

    .product-item:nth-child(3)::after {
        margin-top: -270px;
        width: 100%;
        height: 240px;
        z-index: 1;
    }

    .section-box {
        display: block;
    }

    .footer-container {
        width: 100%;
    }

    .footer {
        padding: 0px 15px 0px 15px;
    }
}